@model Common.DTO.RestarauntViewModel

<div class="container row">
	<div class="card">
		<div class="card-header">@Model.Name  </div>
		<div class="card-body">

			<img src="@Model.PhotoUrl" class="img-fluid">
		</div>
	</div>
</div>
<div class="container-fluid">
	<div>Cooks</div>
	@await Html.PartialAsync("_CookEditorPartialView", @Model.ViewModel)
	@foreach (var cook in Model.CookEmails) {
		<form>
			<div asp-validation-summary="All" class="input-group mb-3">

				<input type="text" class="form-control " id="inlineFormInputName" readonly value="@cook">

				<div class="input-group-append">
					<button class="btn btn-outline-danger" type="submit">Delete</button>
				</div>
			</div>
		</form>
	}
	<div>Managers</div>
	@await Html.PartialAsync("_ManagerEditorPartialView", @Model.ViewModel)
	@foreach (var manager in Model.ManagerEmails) {
		<form>
			<div asp-validation-summary="All" class="input-group mb-3">

				<input type="text" class="form-control " id="inlineFormInputName" readonly value="@manager">

				<div class="input-group-append">
					<button class="btn btn-outline-danger" type="submit">Delete</button>
				</div>
			</div>
		</form>
	}
</div>
